
h1{
    color: red;
    font-size: 100px;
}

img:hover{
    background-color: burlywood;
}

.bacon{
    background-color: green;
}

.ball{
    background-color: blue;
}

.circular{
    border-radius: 100%;
}